In [2]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

result = add(3, 7)
result

10

In [3]:
result = add(b = 7, a = 3)
result

10

In [4]:
a = 10
def func():
    global a
    a += 1
    print(a)
    
func()

11

In [5]:
array = [1, 2, 3, 4, 5]

def func():
    array.append(6)
    print(array)
    
func()

[1, 2, 3, 4, 5, 6]

In [6]:
array = [1, 2, 3, 4, 5]

def func():
    array = [3, 4, 5]
    array.append(6)
    print(array)
    
func()
print(array)

[3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [7]:
def operator(a, b):
    add_var = a + b
    subtract_var = a - b
    multiply_var = a * b
    divide_var = a / b
    return add_var, subtract_var, multiply_var, divide_var

a, b, c, d = operator(7, 3)
print(a, b, c, d)

10 4 21 2.3333333333333335

In [8]:
# 일반적인 add() 메서드 사용
def add(a, b):
    return a + b

print(add(3, 7))

# 람다 표현식으로 구현한 add() 메서드
print((lambda a, b : a + b)(3,7))

10
10

In [9]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key=my_key))
print(sorted(array,key=lambda x: x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a, b: a + b, list1, list2)
print(list(result))

[7, 9, 11, 13, 15]

In [11]:
# 자주 사용되는 내장함수
# sum()
result = sum([1, 2, 3, 4, 5])
print(result)

15

In [13]:
# min(), max()
min_result = min(7, 3, 5, 2)
max_result = max(7, 3, 5, 2)
print(min_result, max_result)

2 7

In [14]:
# eval()
result = eval("(3+5)*7")
print(result)

56

In [15]:
# sorted()
result = sorted([9, 1, 8, 5, 3])
reverse_result = sorted([9, 1, 8, 5, 3], reverse=True)
print(result)
print(reverse_result)

[1, 3, 5, 8, 9]
[9, 8, 5, 3, 1]

In [16]:
# sorted() with key
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]
result = sorted(array, key=lambda x: x[1], reverse=True)
print(result)

[('아무개', 74), ('홍길동', 50), ('이순신', 32)]

In [17]:
# 순열
from itertools import permutations

data = ['A', 'B', 'C'] # 데이터 준비
result = list(permutations(data, 3)) # 모든 순열 구하기
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [18]:
# 조합
from itertools import combinations

data = ['A', 'B', 'C'] # 데이터 준비
result = list(combinations(data, 2)) # 2개를 뽑는 모든 조합 구하기
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [19]:
# 중복 순열
from itertools import product

data = ['A', 'B', 'C'] # 데이터 준비
result = list(product(data, repeat=2)) # 2개를 뽑는 모든 순열 구하기(중복 허용)
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [20]:
# 중복 조합
from itertools import combinations_with_replacement

data = ['A', 'B', 'C'] # 데이터 준비
result = list(combinations_with_replacement(data, 2)) # 2개를 뽑는 모든 조합 구하기(중복 허용)
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [22]:
# Counter
from collections import Counter

counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])
print(counter['blue']) # 'blue'가 등장한 횟수 출력
print(counter['red']) # 'red'가 등장한 횟수 출력
print(counter['green']) # 'green'가 등장한 횟수 출력

print(dict(counter)) # 사전 자료형으로 반환

3
2
1
{'red': 2, 'blue': 3, 'green': 1}

In [24]:
# 최대공약수, 최소공배수
import math

# 최소 공배수(LCM)를 구하는 함수
def lcm(a, b):
    return a * b // math.gcd(a, b)

print(math.gcd(21, 14)) # 최대 공약수(GCD)
print(lcm(21, 14)) # 최소 공배수(LCM) 계산

7
42